
.songs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-expansion {
    max-width: 50%;
    width: 100%;
}

.player {
    margin: auto;
}

.hidden-expand {
    display: none;
}